.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderLayoutContainer--shelf {
  background-color: #FFFFFF;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.caretIcon {
  color: #F0F0F0;
  background: rgb(0 0 0 / 27%);
  padding: 15px;
  border-radius: 50px;
  transform: 0.3s;
}

.caretIcon:hover {
  background: rgb(0 0 0 / 40%);
  padding: 18px;
}

.imageElement--carousel {
  border-bottom: 25px solid #131217;
}
